<section class="contacts">
  <h2>contacts</h2>
  <ul>
    <li>
      <img src="/icons/gmail.svg" alt="" />
      <a href="mailto:hi@dmnzeal.ru">email</a>
    </li>
    <li>
      <img src="/icons/github.svg" alt="" />
      <a href="https://github.com/dmnzeal" target="_blank">github</a>
    </li>
    <li>
      <img src="/icons/telegram.svg" alt="" />
      <a href="https://t.me/dmnzeal" target="_blank">telegram</a>
    </li>
  </ul>
</section>

<style>
  .contacts ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .contacts li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .contacts img {
    width: 1.5rem;
    height: 1.5rem;
  }
</style>
