<header>
  <div class="logo">
    <a href="/">
      <img src="/ghost.png" alt="" />
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/blog/">blog</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
    width: 2rem;
    height: 2rem;
  }
  header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
  header li {
    list-style: none;
  }
</style>
